# Database (Neon Serverless Postgres)
DATABASE_URL="postgres://username:password@ep-shiny-cloud.us-east-2.aws.neon.tech/neondb"

# Authentication (Auth.js)
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3001" # Studio URL by default (use maat.work in production)

# Next.js
NEXT_PUBLIC_APP_URL="http://localhost:3000" # App base URL

# APIs
WHATSAPP_API_TOKEN="your-whatsapp-token"
AFIP_CERT_PATH="./certs/afip.pem"
